.wrapper {
  padding: 10rem 0rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.seperator {
  width: 120%;
  height: 1px;
  margin-top: 40px;
  background-color: var(--text);
}

.form {
  max-width: 475px;
  margin: 40px auto 0px auto;
}

.form h1 {
  font-weight: 100;
  color: white;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(79, 98, 148);
}

.form p {
  color: var(--accent);
  margin: -20px auto 10px auto;
}

.form p::before {
  display: inline;
  content: "⚠ ";
}

.form input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  border-radius: 4px;
  border: 1px solid var(--secondary);
  padding: 10px 15px;
  margin-bottom: 40px;
  font-size: var(--contactFont);
}

.form label {
  line-height: 2;
  text-align: left;
  display: block;
  margin-bottom: 13px;
  margin-top: 20px;
  color: white;
  font-size: 14px;
  font-weight: 200;
}

.form button[type="submit"],
.form input[type="submit"] {
  background: var(--text);
  color: var(--primary);
  text-transform: uppercase;
  border: 1px solid var(--text);;
  margin-top: 40px;
  padding: 20px;
  font-size: var(--contactFont);
  font-weight: 100;
  letter-spacing: 10px;
  cursor: pointer;
  transition: background 0.5s ease, color 0.3s ease;
}

.form button[type="submit"]:hover,
.form input[type="submit"]:hover {
  background: transparent;
  color: var(--text);
  transition: background 0.3s ease, color 0.3s ease;
}

.form button[type="submit"]:active,
.form input[type="button"]:active,
.form input[type="submit"]:active {
  transition: 0.3s all;
  transform: translateY(3px);
  border: 1px solid var(--accent);
  opacity: 0.8;
}

.form input:focus {
  outline-color: var(--text);
}

.form input:disabled {
  opacity: 0.4;
}

.form input[type="button"]:hover {
  transition: 0.3s all;
}

.form button[type="submit"],
.form input[type="button"],
.form input[type="submit"] {
  -webkit-appearance: none;
}


.form button[type="button"] {
  display: block;
  appearance: none;
  background: #333;
  color: white;
  border: none;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 4px;
}

.form hr {
  margin-top: 30px;
}

.form textarea {
  width: 475px;
  min-height: 150px;
  font-family: inherit;
  font-size: var(--contactFont);
  padding: 10px 20px;
  margin-bottom: 40px;
}

.form textarea:focus {
  outline-color: var(--text);
}

.name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: fit-content;
}

.name input {
  width: 100%;
}

.submit{
  margin-top: 0px;
}

.email{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}