.wrapper {
  position: fixed;
  top: 0;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  color: var(--text);
  padding: 1.5rem 2.3rem;
  background-color: transparent;
  z-index: 300;
}

.logoWrapper {
  text-align: center;
  padding: 0;
  cursor: pointer;
  color: var(--secondary);
  fill: var(--secondary);
  transition: fill .5s ease, color .5s ease;
}

.logoWrapper:hover {
  color: var(--accent);
  fill: var(--accent);
  transition: fill .3s ease, color .3s ease;
}

.logoWrapper svg{
  width: 2rem;
  fill: inherit
}

.navList {
  display: flex;
  flex-direction: row;
  align-items:center;
  font-size: var(--navFont);
}

.navList li{
  padding-left: 1rem;
  font-weight: var(--navWeight);
  letter-spacing: var( --navSpacing);
  transition: color .5s ease;
  cursor: pointer;
}

.navList li:hover{
  color: var(--accent);
  transition: color .3s ease;
}

.social {
  fill: var(--text);
  width: 25px;
  transition: fill .5s ease;
}

.social:hover {
  fill: var(--accent);
  transition: fill .3s ease;
}